img{
 display:block;
  margin:auto;
        
    width: 800px;
    height: 350px;
}
body{
    font-family: 'Zilla Slab', serif;
    background-color:rgb(226, 178, 134)
}
h1{
    margin: 0!important;
}
h2{
    text-align: center;
}

ol li{
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}
.video{
    text-align: center;
    margin-top: 20px;
}
.header{
    display: flex;
    justify-content: space-evenly;
   align-items: center;
    background-color: black;
    color: WHITE;
    padding: 20px 0;

}
.header a{
    text-decoration: none;
    color: white;
}
.nav a{
    align-items: center;
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
}
.contenedor{

   
}
.contenido{
     margin: 0 auto;
    max-width: 800px;
    margin-bottom: 50px;
   
   
}
.contenido h2{
    text-align: center;
    font-size: 30px;
}
.contenido p{
    font-size: 25px;
    line-height: 1.5;
    text-align: justify;
  
}
.contenido li{
    font-weight: 400;
}

.footer p{
    margin: 0;
    color: white;
    padding-top: 30px;
    text-align: center;
}
.footer{
    height: 80px;
    background-color: black;
    margin: 0;
}
.mensaje1{
    background-color: rgb(198, 212, 224);
    text-align: center;
}
.mensaje2{
    background-color: white;
}
hr{
   border:  2px solid black;
}
.title{
    background-color: black;
    color: white;
    display: inline-block;
 
    padding: 0px 10px 0px 40px;
}
ul li{
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 23pxs;
}